* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #8e5f40;
  --text: #fefae0;
  --shadow: #0a0a0a;
  --opacity: #282828ab;
  font-family: "Supreme", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--primary);
  color: var(--text);
  font-size: 1.2rem;
}

header {
  display: flex;
  padding: 2rem 6rem;
  align-items: center;
  justify-content: space-between;
}

header > h1 {
  font-size: 2;
  text-shadow: 0.1rem 0.1rem 0.1rem var(--shadow);
}

nav {
  display: inherit;
}

ul {
  gap: 1.5rem;
  display: inherit;
  list-style: none;
  text-align: center;
}

ul > li {
  font-size: 1.2rem;
}

ul > li > a {
  padding: 0.8rem;
  color: var(--light);
  text-decoration: none;
  transition: all 0.4s;
  border: 0.1rem solid transparent;
}

nav > ul > li > a:hover {
  border-bottom: 0.1rem solid var(--shadow);
}

nav > ul > li > #contact-link {
  border: 0.1rem solid var(--shadow);
}

nav > ul > li > #contact-link:hover {
  box-shadow: 0rem 0.1rem 0.3rem var(--shadow);
}

section {
  display: grid;
  padding: 1rem 6rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

figure > .image {
  max-width: 60%;
}

.about-text {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#services {
  display: flex;
  background: fixed no-repeat center
    url("./images/pexels-cottonbro-3992862.webp");
  background-size: cover;
}

section > .services-list {
  padding: 10rem 0;
  justify-content: center;
}

.card {
  width: 15rem;
  display: flex;
  height: 10rem;
  padding: 0 1.5rem;
  text-align: center;
  color: var(--shadow);
  flex-direction: column;
  background: var(--text);
  justify-content: space-around;
}

#social-media {
  display: flex;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;
}

#contact {
  padding: 6rem;
  align-items: center;
  text-align: center;
  background: var(--opacity);
}

#contact > div {
  margin-bottom: 2rem;
}

footer {
  padding: 1rem 0;
  font-size: 0.8rem;
  text-align: center;
}

@media (max-width: 1055px) {
  header {
    padding: 1rem 3rem;
  }

  header > h1 {
    font-size: 1.7rem;
  }

  nav {
    display: none;
  }

  section#about {
    text-align: center;
  }

  .services-list {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }

  #social-media {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }
}
